/* Estilo geral para a página de notícias */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
  }

  header, footer {
    background-color: #222;
    color: #fff;
    padding: 15px;
    text-align: center;
  }
  
  /* Container principal para a página */
  .detail-page {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 8px;
    word-break: break-word;
    overflow-wrap: break-word; 
  }
  
  /* Título da notícia */
  .detail-page h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #222;
    text-align: left;
  }

  .detail-page h5 {
    color: #868686;
  }

  .imageSource {
    margin-top: -20px;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-weight: 300;
  }
  
  /* Imagem da notícia */
  .detail-page img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  /* Conteúdo do texto */
  .detail-page p {
    font-size: 1rem;
    line-height: 1.6;
    color: black;
    text-align: justify;
  }

  .subtitle {
    margin-bottom: 20px;
  }

  .author {
    margin-bottom: 5px;
  }

  .posted-at {
    margin-bottom: 30px;
  }

  .divider-line {
    width: 100%;
    height: 1.5px;
    background-color: #ccc;
    border: none;
    margin-bottom: 30px;
  }

  .subtitle,
  .author,
  .posted-at{
    color: #555;
    font-family: sans-serif;
  } 
  /* Estilo para links no conteúdo (caso tenha) */
  .detail-page a {
    color: #007BFF;
    text-decoration: none;
  }
  
  .detail-page a:hover {
    text-decoration: underline;
  }

  .floating-image-news {
    position: absolute;
    top: 60%;
    left: 11.5%;
    transform: translateX(-50%);
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none; /* Para não bloquear interações com o conteúdo abaixo */
    z-index: 10; /* Para ficar acima do conteúdo */
  }

  .floating-image-container-right-news {
    position: absolute;
    top: 60%;
    transform: translateX(38.5%);
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none; /* Para não bloquear interações com o conteúdo abaixo */
    z-index: 10; /* Para ficar acima do conteúdo */
  } 
  
  @media (max-width: 1350px) {
    .floating-image-news {
      display: none;
    }
  
    .floating-image-container-right-news {
      display: none;
    } 
}
  /* Responsividade */
  @media (max-width: 768px) {
    .detail-page {
      padding: 15px;
    }
  
    .detail-page h1 {
      font-size: 1.5rem;
    }
  
    .detail-page p {
      font-size: 0.9rem;
    }
  }
  